body{background-color: #a0b9ce;
font-family: Arial, Helvetica, sans-serif;

}
table,td,th{border: 1px solid black;
border-collapse: collapse;}
table{width: 750px;}
th,td{padding: 10px;
text-align: justify;}

.titulo-h1{color: red;}
.lorem-azul{color: blue;}
.Título-h2{color: green;}
#h2-con-ID{color: yellow;}
[atributo="si"]{color: purple;}